doctype html
html
  head
    title Adrien Leteinturier - Le blog DiwJS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='jsUiBase.css')
  body
    section#head.row
      .col-lg-4.col-md-12.col-sm-12.col-xs-12
        .Hitem1
          a(href='/',title='Home')
            h1  Adrien Leteinturier - Le blog DiwJS 
        if(pseudo)
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              span.login= 'Bonjour' + ' ' + pseudo
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              a(href='/creation',title='Création d\'un article')
                i.fi-plus
              a(href='/profil',title='Votre profil')  
                i.fi-torso
                i.fi-comment
              a(href='/deconnection',title='Déconnexion')
                i.fi-x
      if(!pseudo)           
        .col-lg-4.col-md-12.col-sm-12.col-xs-12
          .Hitem3
            i.spriteLogo.sprite-login
      if(pseudo)
        .col-lg-4.col-md-12.col-sm-12.col-xs-12
          .Hitem3.text-center
            img#imgPro(src='/' + srcfile)
      .col-lg-4.col-md-12.col-sm-12.col-xs-12
        if(pseudo)
          #adv-search.input-group.searchBar
            input.form-control(type='text', placeholder='Cherche des amis')
            .input-group-btn
              .btn-group(role='group')
                button.btn.btn-primary(type='button')
                  span.glyphicon.glyphicon-search(aria-hidden='true')    
        div#usersLiveCount
        div#usersCountLog
        div#postItsCountLog         
    h2.titreNew Nouveaux Post-it
    section#mess.row
      each divArt in valeur1
        .Mitem.col-lg-3.col-md-3.col-sm-12.col-xs-12
          a(href='/post_its/' + divArt._id,title= divArt.titre)
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h2= divArt.titre
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center      
                    blockquote=divArt.auteur
                    img#imgUserArt(src='/' + divArt.srcPhotoUser)
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                img#imgMart(src='/' + divArt.srcfile)
                img#urlPost(src=divArt.urlPost)
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h3= divArt.texte
                p= divArt.date
    section#footer.row
      .col-lg-4.col-md-12.col-sm-12.col-xs-12#bgLeftFooter
        .Hitem1
          a(href='#',title='#')
            ul
              li  A propos
              li  Mentions Legales       
      .col-lg-4.col-md-12.col-sm-12.col-xs-12#bgCenterFooter
        .Fitem3.text-center
            img#imgPro(src='/' + srcfile)
      .col-lg-4.col-md-12.col-sm-12.col-xs-12#bgRightFooter                               
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://code.jquery.com/ui/1.12.0/jquery-ui.min.js', integrity='sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')   
    script(type='text/javascript', src='socket.io.js')
    script(type='text/javascript', src='socketClient.js')


  