doctype html
html
  head
    title Adrien Leteinturier - Write It Social
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='../../foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='../../style.css')
    link(rel='stylesheet', href='../../jsUiBase.css')
  body
    section#head
      nav.navbar.navbar-default.navbar-fixed-top.menu
        .container
          .navbar-header
            button.navbar-toggle.collapsed.in(type='button',data-toggle='collapse',data-target='#bs-example-navbar-collapse-1')
              span.sr-only|Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='dash')
              img(src='../logo-navbar.png',alt='logo')  
          #bs-example-navbar-collapse-1.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right.main-menu
              li.dropdown
                a(href='dash')|Home
              li.dropdown
                a(href='profil')|Profil
              li.dropdown
                a(href='chat')|Chat
              li.dropdown
                a(href='aPropos')|À propos
              li.dropdown
                a(href='/deconnexion')|Déconnexion 
            form.navbar-form.navbar-right.hidden-sm.form-search-bar
              .form-group
                i.icon.fi-magnifying-glass
                input.form-control.search-bar(type='text',name='search',placeholder='Recherche des amis') 
          .row.text-center
            #resultSearch
    .page-dashboard
      .container
        .row
          .col-md-3.static
            .profile-card
              img.profile-photo(src='/' + srcfile, alt='user')
              h5
                a.text-white(href='#')=pseudo
              a.text-white(href='#')
                i.fi-torsos-all-female(style='font-size: 16px;')=friends 
                  |  amis
            ul.nav-news-feed
              li
                i.icon.fi-page-multiple
                div
                  a(href='mydash')
                    | Mon flux 
              li
                i.icon.fi-torsos-all
                div
                  a(href='friends')
                    | Mes amis  
              li
                i.icon.fi-comments
                div
                  a(href='profil')
                    | Profil / Messages   
              li
                i.icon.fi-comments
                div
                  a(href='chat')
                    | Chat
            #chat-block.hidden-sm.hidden-xs
              div.title
                |Mes amis
              ul.online-users.list-inline
                each divImgFriend in userFriend
                  li
                    a(href='/profilPublic/' + divImgFriend._id)
                      img.img-responsive.profile-photo(src=divImgFriend.srcfile,title=divImgFriend.pseudo) 
          .col-md-9
            .head-friends.no-padding.text-center
              p
                | Mes amis
            .friend-list
              .row
                each divFriendsList in userFriend
                  .col-md-6.col-sm-6
                    .friend-card
                      img.img-responsive.cover(src='http://lorempixel.com/400/200/abstract', alt='profile-cover')
                      .card-info
                        img.profile-photo-lg(src=divFriendsList.srcfile,title=divFriendsList.pseudo)
                        .friend-info
                          p.pull-right.text-green=divFriendsList.status
                          h5
                            a.profile-link(href='timeline.html')=divFriendsList.pseudo                        
      section#footer
          #containerIndex
            .row
              #footer-wrapper
                .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
                  a(href='index',alt='Home')
                    img#logoFooter(src='../logo-footer.png')
                  ul.socialList
                    li
                      a(href='https://www.facebook.com/AdrienDeveloper/',alt='Facebook')
                        i.iconSocialFooter.fi-social-facebook
                    li
                      a(href='https://twitter.com/AdrienDeveloper',alt='Twitter')
                        i.iconSocialFooter.fi-social-twitter
                    li
                      a(href='https://github.com/Adrien-Leteinturier',alt='Github')
                        i.iconSocialFooter.fi-social-github
                    li
                      a(href='https://www.linkedin.com/in/adrien-leteinturier/',alt='Linkedin')
                        i.iconSocialFooter.fi-social-linkedin  
                .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
                  ul.links-footer
                    li
                      a(href='aPropos',alt='A propos')|À propos
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  ul.contact-footer.text-center
                    li
                      i.icon-contact.fi-mobile
                      p.phone| 06-18-33-96-13
                    li
                      i.icon-contact.fi-mail
                      p.mail| adrienleteinturier@gmail.com                    
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='http://code.jquery.com/ui/1.12.0/jquery-ui.min.js', integrity='sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')   
    script(type='text/javascript', src='../socket.io.js')
    script(type='text/javascript', src='../socketClient.js')
    script(type='text/javascript', src='../jqueryBlog.js')
    script(type='text/javascript', src='../main_js_dash.js')



       