doctype html
html
  head
    title Adrien Leteinturier - Le blog DiwJS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
  body
    section#head.row
      .col-lg-4.col-md-12.col-sm-12.col-xs-12
        .Hitem1
          a(href='/',title='Home')
            h1  Adrien Leteinturier - Le blog DiwJS 
        if(pseudo)
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
              span.login= 'Bonjour' + ' ' + pseudo
            section.test.col-lg-6.col-md-6.col-sm-6.col-xs-6
              a(href='/creation',title='Création d\'un article')
                i.fi-plus
              a(href='/modifLogin',title='Modifier votre profil')  
                i.fi-torso
                i.fi-comment
              a(href='/deconnection',title='Déconnexion')
                i.fi-x
      if(!pseudo)           
        .col-lg-4.col-md-12.col-sm-12.col-xs-12
          .Hitem3
            i.spriteLogo.sprite-login
      if(pseudo)
        .col-lg-4.col-md-12.col-sm-12.col-xs-12
          .Hitem3.text-center
            img#imgPro(src='/' + imgPro)
      .col-lg-4.col-md-12.col-sm-12.col-xs-12    
        .Hitem2
          i.sprite.sprite-facebook
          i.sprite.sprite-linkedin
          i.sprite.sprite-pinterest
          i.sprite.sprite-twitter
    h2.titreNew Nouveaux Articles
    if(!pseudo)
      section#modalForm
        form#login(method='POST',action='connexion')
          span.close X
          label Pseudo
          input#pseudo(type='text',name='pseudo')
          label Mot de passe
          input#password(type='password',name='password')
          input#submit.spriteSubmit.sprite-connexion(type='image', value='')
          a.buttonInscription(href='login', alt='Inscription')
            img#logIn.spriteSubmit.sprite-inscription    
    section#mess
      each divArt in valeur1
        .Mitem
          if(pseudo)
            a(href='/delete',title='Effacer l\'article')
              i.fi-page-delete        
            i.fi-page-edit
          a(href='/articles/' + divArt._id,title= divArt.titre)
            h2= divArt.titre
          p= divArt.date
          h3= divArt.texte
          img#imgMart(src='/' + divArt.srcfile)
          blockquote= 'Auteur :' + ' ' + divArt.auteur
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')    
    script(src='valid_form.js')

  